/* IMPOSTAZIONI GENERALI */


/* HEADER */

body {
    background-image: url(sfondo.png);
    background-size: 100%;
    size: 90;
}


a {
    color: rgb(213, 218, 218);
}


.immage {
    background-image: url(assets/img/sfodo.png);
    background-size: cover;
    background-size:


}


header {

    border-inline: ;
    border-top-width: 300px;
    padding-left: 0px;
}

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */